<article class='dish'>
    <div class='img-and-text'>
        <img src='{{this.photo}}' class="card-img order-pic" alt="...">
        <div class='order-dish-text'>
            <div class='order-dish-data'>
                <span>{{this.name}}</span>
            </div>
            <span class='price'>{{this.price}}</span>€       
            <p class='description'>{{this.description}}</p>    
        </div>
    </div>
    <div class="quantity-and-subtotal">   
        <div>
            <input type="number" name="{{this._id}}" id="{{this._id}}" class="quantity" value='0' min='0'>
         </div>

    <div class="btn-group-vertical"><input type="button" class='more-btn btn btn-secondary'value="+"><input type="button" class='less-btn btn btn-secondary' value="-"></div>
    <div class='subtotal'><span>0</span>€</div>
</article>