<article class='dish'>
    <div class='img-and-text'>
        <div class='image-container'>
            <img src='{{this.photo}}' class="card-img card-pic" alt="...">
        </div>
        <div class='order-dish-text'>
            <div class='order-dish-data'>
                <span>{{this.name}}</span>
            </div>
            <span class='price'>{{this.price}}</span>€       
            <p class='description'>{{this.description}}</p>    
        </div>
    </div>
    <div class="quantity-and-subtotal">   
        <div>
            <input type="number" step="0.01" name="{{this._id}}" id="{{this._id}}" class="quantity" value='0' min='0'>
         </div>
        <div class='subtotal' width='40px'><span>0</span>€</div>
        <div class="btn-group-vertical order-buttons"><input type="button" class='more-btn btn btn-secondary'value="+"><input type="button" class='take-btn btn btn-secondary' value="-"></div>
    </div>
</article>