{{> restaurantNavBar this}}

<h1>Orders</h1>
{{#each orders}}
    <article class='card card-myorders'>
    <div class="card-header"><h2>{{this.user.userName}}</h2>
    <span class="order-status-restaurant">{{this.status}}</span>
    <span class="table-orders-restaurant">Table: {{this.table}}</span>
    </div>
    <div class="card-body card-body-myorders">
    <table class='myorders-table'>
        <tr class='myorder-item'><th class='table-cell'>Dish</th><th class='table-cell'>Price</th><th class='table-cell'>Quantity</th></tr>
    {{#each order}}
        {{#if this.quantity}}
        <tr class='myorder-item'>
        <td class='table-cell'>{{this.dishId.name}}</td>
        <td class='table-cell'>{{this.dishId.price}}</td>
        <td class='table-cell'>{{this.quantity}}</td>
        </tr>
        {{/if}}
    {{/each}}
    </table>
    </div>
    <div class="card-footer restaurantsOrdersCardFooter">
        <h4>Total: {{this.total}}</h4>
        <form action="/business/orders/{{this._id}}" method="post"><button type="submit" class="btn-primary order-served-btn">Mark as done</button></form>
    </div>
    </article>
    <hr>
{{/each}}