{{> restaurantNavBar this}}

<h1>Orders</h1>
<article>
{{#each orders}}
<h2>Order</h2>
<div>{{this.user.userName}}</div>
<div>{{this.status}}</div>
{{#each order}}
{{#if this.quantity}}
<div>Dish: {{this.dishId.name}}</div>
<div>Quantity: {{this.quantity}}</div>
</article>
{{/if}}
{{/each}}
<form action="/business/orders/{{this._id}}" method="post"><button type="submit">Mark as done</button></form>
{{/each}}