{{> customerNavBar this}}

<h1>Your order history</h1>
<article>
{{#each orders}}
<h2>Order</h2>
<div>{{this.business.userName}}</div>
{{#each order}}
{{#if this.quantity}}
<div>Dish: {{this.dishId.name}}</div>
<div>Price: {{this.dishId.price}}</div>
<div>Quantity: {{this.quantity}}</div>
</article>
{{/if}}
{{/each}}
<h3>Total: {{this.total}}</h3>
{{/each}}