{{> customerNavBar this}}

<h1>Your order history</h1>

{{#each orders}}
    <article class='card card-myorders'>
    <div class="card-header"><h2>{{this.business.userName}}</h2>
    <span>{{this.status}}</span>
    </div>
    <div class="card-body"></div>
    <table>
        <tr class='myorder-item'><th class='table-cell'>Dish</th><th class='table-cell'>Price</th><th class='table-cell'>Quantity</th></tr>
    {{#each order}}
        {{#if this.quantity}}


        <tr class='myorder-item'>
        <td class='table-cell'>{{this.dishId.name}}</td>
        <td class='table-cell'>{{this.dishId.price}}</td>
        <td class='table-cell'>{{this.quantity}}</td>
        </tr>
        {{/if}}
{{/each}}
</table>
<div class="card-footer">
    <h4>Total: {{this.total}}</h4>
</div>

</article>
{{/each}}

