{{> customerNavBar this}}
<div>
  <form method="POST" action="/user/search" class="form-inline" id="searchForm">
    <div class="form-group col-md-4">
        <label for="inputState">City</label><br>
        <select name="city" id="inputState" class="form-control">
            <option selected>Choose...</option>
            {{#each restaurants}}
            <option>{{this.location.city}}</option>
            {{/each}}
            
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="inputState">Cuisine</label><br>
        <select name = "cuisine" id="inputState" class="form-control">
            <option selected>Choose...</option>
            {{#each restaurants}}
            <option>{{this.cuisine}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group col-md-4">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
    
    </form>
    <div class="searchMatches">
        {{#if matches}}
            {{#each matches}}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{this.logo}}" alt="restaurantimage cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.userName}}</h5>
                        <p class="card-text">{{this.cuisine}}</p>
                        <a href="/user/order/{{this._id}}" class="btn btn-primary">Order</a>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>
<hr>