{{> customerNavBar this}}
<div>
  <form method="POST" action="/user/search" class="form-inline" id='search-all'>
  <div id="searchForm">
        <div class="form-group search-group">
            <label for="inputState" class='search-label rounded'>City</label>
            <select name="city" id="inputState" class="form-control search-control">
                <option selected>Choose...</option>
                <option>Madrid</option>
                <option>Bilbao</option>
                <option>Barcelona</option>
                <option>Gijón</option>
                <option>Las Palmas</option>
                
            </select>
        </div>
        <div class="form-group search-group">
            <label for="inputState" class='search-label rounded'>Cuisine</label>
            <select name = "cuisine" id="inputState" class="form-control search-control">
                <option selected>Choose...</option>
                <option>Japanese</option>
                <option>Italian</option>
                <option>Tex-Mex</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>

    </form>

    <hr>
    <div class="searchMatches">
        {{#if matches}}
            {{#each matches}}
                <div class="card-search card" style="width: 100%;">
                    <img src={{this.logo}} alt="Logo" width='100'>
                    <div class="card-body-search card-body">
                        <h5 class="card-title">{{this.userName}}</h5>
                        <div class='card-tags'>                           
                            <span class="card-text">{{this.location.city}}</span>
                            <span>{{this.cuisine}}</span>
                        </div>
                        <div class='card-description'>                           
                            <span>{{this.description}}</span>
                        </div>
                        <a href="/user/order/{{this._id}}" class="btn btn-primary">Order</a>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>
